.category-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: max-content 1fr;
  .left {
    .van-sidebar {
      width: 100%;
      height: 100%;
      background-color: #f7f8fa;
      .van-sidebar-item {
        position: relative;
        border-left: none !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        &.van-sidebar-item--selected::before {
          content: '';
          width: 6rpx;
          height: 50%;
          background-color: global.$primary-color;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
