@import './assets/iconfont.scss';

page {
  background-color: #f7f4f8;
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16rpx;
}

.van-switch {
  display: block !important;
}
